
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* baloo 2 font for heading */

*{
    font-family: 'Baloo 2', cursive;
}

body{
    margin: 0;
}

.page-container{
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    background-image: url(./normalBG.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y:scroll;
    
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.daybuttons-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.inner-daybuttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.daybuttons-form{
    display: flex;  
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(220,220,220, .5);
    border-radius: 25px;
}

.time-entry-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-entry-submit{
    width: 90%;
    height: 50px;
    background-color: rgba(220,220,220, .5);
    transition: .5s;
    border: 3px solid whitesmoke;
    border-radius: 25px;
}

.time-entry-submit:hover{
    background-color: rgba(220,220,220, 1);
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    width: 80%;

}

.date-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    min-height: 40vh;
    min-width:80vw;
    padding: 25px;
    margin: 10px;
}

.time-scale-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 90%;
}

.graph-container{
    background-color: rgba(220,220,220, .5);
    border-radius: 25px 25px 25px 25px;
    min-width: 90%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timescale-button{
    background-color: rgba(220,220,220, .5);
    transition: .5s;
    border: 3px solid whitesmoke;
    border-radius: 25px 25px 0 0;
    width: 200px;
    font-size: 1.5rem;
    margin: 0 5px 0 5px;
}

.timescale-button:hover{
    background-color: rgba(220,220,220, 1);
    z-index: 2;
    border-radius: 25px;
    transform: translate(-5px, 5px);
}

.pht-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 40%;

}

.payment-history-title{
    font-size: 2rem;
    background-color: rgba(220,220,220, .5);
    padding:5px 25px 5px 25px;
    border-radius:25px 25px 0 0;
}

.non_manager{
    display: none;
}

.label{
    background-color: rgba(220,220,220, .5);
    transition: .5s;
    border-radius: 25px;
    padding: 10px;
}

.current-date{
    font-size: 2rem;
    background-color: rgba(220,220,220, .5);
    padding: 5px 25px 5px 25px;
    border-radius: 25px 25px 0 0;
}

.employee-name{
    font-size: 2rem;
    background-color: rgba(220,220,220, .5);
    padding: 5px 25px 5px 25px;
    border-radius: 25px 25px 0 0;
}

.employee-name-man{
    font-size: 2rem;
    background-color: rgba(220,220,220, .5);
    padding: 5px 25px 5px 25px;
    border-radius: 25px 25px 25px 25px;
}

.name-container-man{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
