@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* baloo 2 font for heading */
.logo {
  /* size: 10%; */
  margin-top: 10%;
  margin-bottom: 0;
  width: 20%;
  height: 10%;
}
body {
  margin: 0;
  padding: 0;
}
 html, .outerContainer{
    height: 100%;
    min-height: 100vh;
  }
  .outerContainer{
    margin: 0;
    padding: 0;
    background-image: url(./loginBG.png);
    background-size: cover;
    background-position: center bottom 7%;
}
.login-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .TEXT {
    /* position: absolute;
    top: 10%;
    right: 0; */
    line-height: 1;
    font-family: 'Baloo 2', cursive;
    color: #E1DDD6;
    text-shadow: -1px -1px 0 #4E4A54, 1px -1px 0 #4E4A54, -1px 1px 0 #4E4A54, 1px 1px 0 #4E4A54;
    font-weight: 400;
    font-size: 8.5em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .transparent-box {
    position: relative;
    background-color: rgba(193,194,192,0.4); /* Set the background color to a greyish color with an alpha (transparency) value of 0.5. The lower you make alpha, the more transperant the box */
    padding: 25px; /* Add padding around the content inside the box */
    border-radius: 10px; /* Add rounded corners to the box */
    width: 35%; /* Set the width of the box to 50% of the container element */
    /* To center the box after applying the width property, I used the margin property to set its value to auto for both the left and right margins. This will center the box horizontally within its container element. */
    margin: 0 auto; /* Set the left and right margins to auto to center the box horizontally */
    /* border: 2px solid #000000; */
    box-shadow: 1px 1.5px 3px #C1C2C0;
}
.error {
  padding-top: 0;
}
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
}

#Inputs {
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #C1C2C0;
    border: 2px solid white;
}
.loginBut {
    position: absolute;
    right: 0;
}
button:hover {
    background-color: white;
}
