
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* baloo 2 font for heading */

*{
    font-family: 'Baloo 2', cursive;
}

body{
    margin: 0;
}

.page-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(./normalBG.png);
    background-size: cover;
}

.back-button{
    font-size: 2rem;
    background-color: rgba(220, 220, 220, .5);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border: whitesmoke 2px solid;
}