
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* baloo 2 font for heading */

*{
    font-family: 'Baloo 2', cursive;
}

body{
    margin: 0;
}

.page-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(./normalBG.png);
    background-size: cover;
    background-position: center bottom 7%;
    height: 100vh;
    width: 100vw;
}