
.table-container{
    display: flex;
    height: 60vh;   
    min-width: 70vw;
    overflow: scroll;
    justify-content: center;
    padding: 25px;
    background-color: rgba(220, 220, 220, .25);
    border: 2px whitesmoke solid;
    border-radius: 25px;
}

.table-item{
    font-size: 2rem;
}

#table-labels{
    font-size:2rem;
    color: whitesmoke;
}

tbody{
    min-width: 70vw;
}

table{
    min-width: 70vw;
}