
.table-container-list{
    display: flex;
    max-height: 60vh;
    min-width: 60vw;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    padding: 25px;

}

.table-row{
    font-size: 2rem;
    transition: .5s;
}

.table-row:hover{
    background-color: rgba(255, 255, 255, .50);
}

#table-labels{
    font-size:2rem;
    color: black;
}

tbody{
    min-width: 70vw;
}

table{
    min-width: 70vw;
}

.table-item{
    border: 2px solid whitesmoke;
    transition: .5s;
    background-color: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.table-item:hover{
    background-color: rgba(139, 220, 255, 0.75);
}

