.Button {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    background-color: rgba(220, 220, 220, .5);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border: whitesmoke 2px solid;
    cursor: pointer;
    transition: .5s
    
  }

.Button:hover{
  background-color: rgba(220, 220, 220, 1);
}