
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* baloo 2 font for heading */

*{
    font-family: 'Baloo 2', cursive;
}

.day-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    border: 1px grey solid;
    height: 100px;
    width: 125px;
    font-size: 1.5rem;

}

#Sunday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Monday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Tuesday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Wednesday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Thursday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Friday{
    background-color: rgba(220, 220, 220, 0.5);
}

#Saturday{
    background-color: rgba(220, 220, 220, 0.5);
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    border: 1px grey solid;
}

